@import "tailwindcss";

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("inter_var.woff2") format("woff2-variations");
}

@theme {
    --color-cosmic: oklch(0.3086 0.2195 292.24);
    --color-lilac: oklch(0.75 0.2393 292.24);

    --font-display: "Inter", sans-serif;
}

.filter-accent {
    filter: brightness(0) saturate(100%) invert(15%) sepia(39%) saturate(4685%)
        hue-rotate(257deg) brightness(92%) contrast(137%);

    @variant dark {
        filter: brightness(0) saturate(100%) invert(66%) sepia(55%)
            saturate(2136%) hue-rotate(208deg) brightness(101%) contrast(101%);
    }
}
