@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("inter_var.woff2") format("woff2-variations");
}

@theme {
    --color-cosmic: oklch(0.3086 0.2195 292.24);
    --color-lilac: oklch(0.75 0.2393 292.24);

    --font-display: "Inter", sans-serif;
}

.filter-accent {
    filter: brightness(0) saturate(100%) invert(15%) sepia(39%) saturate(4685%)
        hue-rotate(257deg) brightness(92%) contrast(137%);

    @variant dark {
        filter: brightness(0) saturate(100%) invert(66%) sepia(55%)
            saturate(2136%) hue-rotate(208deg) brightness(101%) contrast(101%);
    }
}

.filter-success {
    filter: brightness(0) saturate(100%) invert(30%) sepia(90%) saturate(895%)
        hue-rotate(111deg) brightness(95%) contrast(103%);

    @variant dark {
        filter: brightness(0) saturate(100%) invert(88%) sepia(11%)
            saturate(1628%) hue-rotate(81deg) brightness(98%) contrast(94%);
    }
}

.filter-background {
    filter: brightness(0) saturate(100%) invert(68%) sepia(8%) saturate(441%)
        hue-rotate(179deg) brightness(93%) contrast(95%);

    @variant dark {
        filter: brightness(0) saturate(100%) invert(22%) sepia(8%)
            saturate(1758%) hue-rotate(178deg) brightness(96%) contrast(88%);
    }
}

.animation-fade {
    animation-duration: 1.5s;
    animation-name: fade;
    animation-iteration-count: infinite;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}