:root {
    --light-green: #b6d094ff;
    --ver-light-brown: #e1aa7dff;
    --light-brown: #be8a60ff;
    --dark-red: #6a2e35ff;
    --light-black: #2e2836ff;

    --bg: var(--light-green);
    --fg: var(--light-black);
}

.theme-dark {
    --bg: var(--light-black);
    --fg: var(--light-green);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}
